### Required ENV vars ###

MYSQL_ROOT_PASSWORD=
MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# format is comma-separated tokens (no-space), e.g., test-cli-abc123,consumer-id-def456,something-unique-ghi789
API_ACCESS_KEYS=

APP_NAME=email-service

NOTIFICATION_EMAIL=
FROM_EMAIL=

### Optional ENV vars ###

EMAIL_BRAND_COLOR=
EMAIL_BRAND_LOGO=

# [prod|dev|test], app defaults to prod
APP_ENV=

MAILER_USEFILES=
EMAIL_QUEUE_BATCH_SIZE=10

COMPOSER_AUTH=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
