### Required ENV vars ###

MYSQL_ROOT_PASSWORD=
MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# format is comma-separated tokens (no-space), e.g., test-cli-abc123,consumer-id-def456,something-unique-ghi789
# Must be "abc123" for tests to pass.
API_ACCESS_KEYS=abc123

APP_NAME=email-service

# mailer configuration for SMTP
MAILER_HOST=
MAILER_USERNAME=
MAILER_PASSWORD=

# mailer configuration for SES; MAILER_HOST must be empty
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# email address to use for error alerts
NOTIFICATION_EMAIL=

# email address to send from
FROM_EMAIL=

### Optional ENV vars ###

EMAIL_BRAND_COLOR=
EMAIL_BRAND_LOGO=

# name to use in the email FROM header
FROM_NAME=

# [prod|dev|test], app defaults to prod
APP_ENV=

MAILER_USEFILES=
EMAIL_QUEUE_BATCH_SIZE=10

COMPOSER_AUTH=
